<html>
<head>
    <title>RapDude</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <script src = "static/js/phaser.js"></script>
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
    <style>
        html, body { margin:0; padding:0; } 
       /* @font-face { font-family: "NeoTechStd";
        src: url('assets/NeoTechStd.otf') format("truetype"); }    */
    </style>
</head>
<body>
    <!-- <div class="wrapper" id="wrapper"> -->
    <div id="target"></div>
        <!-- <canvas id="UICanvas" width="200" height="50"></canvas> -->

    <script src = "static/js/rapper.js"></script>
    <!-- </div> -->
</body>
</html>