<html>
<head>
    <title>Stage</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <script src = "static/js/phaser-no-physics.min.js"></script>
    <script src = "static/js/ScreenShake.js"></script>
    <!-- <link rel="stylesheet" type="text/css" href="style.css"> -->
    <style>
        html, body { margin:0; padding:0; } 
        @font-face { font-family: "Bazaronite";
            src: url('static/assets_2/Bazaronite.ttf') format("truetype"); }
    </style>
</head>
<body>
    <!-- <div class="wrapper" id="wrapper"> -->
        <div id="target"></div>
        <!-- <canvas id="UICanvas" width="200" height="50"></canvas> -->
    <!-- </div> -->
    <script src = "static/js/stage.js"></script>
</body>
</html>